PORT="3000"
ORIGIN="http://localhost:5173"
JWT_SECRET="thisissomesecretyoudontwanttoknow"
MONGO_URI=
GMAIL_APP_KEY=
GMAIL_USER='example@gmail.com'
GMAIL_FROM_ADDRESS='example@gmail.com'
MONSTER_API_KEY=
GET_IMG_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
